<div class="home-container">
    <h1>Vejo o que estão compartilhando</h1>
    <div class="search-container">
        <form>
            <fa-icon [icon]="faSearch"></fa-icon>
            <input type="text" placeholder="ou busque por um momento.." (input)="search($event)">
        </form>
    </div>
    <div *ngIf="moments.length >0; else noMoments">
        <div *ngFor="let moment of moments">
            <img src="{{baseApiUrl}}uploads/{{moment.image}}" alt="{{moment.title}}">
            <h3>{{moment.title}}</h3>
            <p class="date">Em: {{moment.created_at}}</p>
            <p>Comentários: {{moment.comments!.length}}</p>
            <p><a routerLink="moment/{{moment.id}}">Detalhes</a></p>
        </div>
    </div>
    <ng-template #noMoments>
        <h1>Não há momentos cadastrados!</h1>
    </ng-template>
</div>
