*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
    color: #444;
}

a{
    text-decoration: none;
    color: #444;
    transition: .4s;
}

a:hover{
    color: #dec129;
}

/* FORM */

form{
    width: 450px;
    margin: 0 auto;
  
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form-group label{
    font-weight: bold;
    font-size: .9em;
    margin-bottom: .4em;
}

.form-group input,
.form-group textarea{
    padding: .6em;
    color: #777;
    font-size: 0.8em;
}

input[type="submit"]{
    background-color: #EFEFEF;
    border: 2px solid transparent;
    padding: .6em 1em;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: .4s;
}

input[type="submit"]:hover{
   color: #dec129;
   border-color: #dec129;
   background-color: transparent;
}

.validation-error p{
    color: #DC3545;
    margin-top: .4em;
    border-left: 3px solid #DC3545;
    padding-left: 0.2em;
}


.edit-btn,
.remove-btn{
    border: 1px solid #efefef;
    padding: .4em 1em;
    font-size: 1em;
    margin: 0 .5em;
    cursor: pointer;
    background-color: #fff;
    transition: 0.4s;
}

button fa-icon,
a fa-icon{
    margin-right: .2em;
}

.edit-btn,
.edit-btn path{
    color: #007bff;
    border-color: #007bff;
}

.edit-btn:hover,
.edit-btn:hover path{
    color: #fff;
    background-color: #007bff;
}

.remove-btn,
.remove-btn path{
    color: #dc3545;
    border-color: #dc3545;
}

.remove-btn:hover,
.remove-btn:hover path{
    color: #fff;
    background-color: #dc3545;
}